# CubeMX
.mxproject
backup_*.ioc
*.ioc.broken

# TouchGFX
TouchGFX/*_backup.touchgfx
TouchGFX/build/
TouchGFX/config/
TouchGFX/generated/
TouchGFX/simulator/
TouchGFX/target.config
Middlewares/ST/touchgfx/
Middlewares/ST/touchgfx_components/
Middlewares/ST/touchgfx_backup*/

# CubeIDE
STM32CubeIDE/.settings/
STM32CubeIDE/Debug/
STM32CubeIDE/Release/

# Editor / OS
*.bak
~$*
